@using GestionnaireRecettes.Models.dto
@model RecetteDto
@using Microsoft.AspNetCore.Identity
@using GestionnaireRecettes.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    var user = UserManager.GetUserAsync(User).Result;
}

<h2 class="text-center mb-4">Edit la Recette <span class="text-success">@Model?.Titre</span></h2>
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Titre</label>
                    <input type="text" class="form-control" placeholder="Enter Titre" asp-for="Titre">
                    <span asp-validation-for="Titre" class="text-danger"></span>
                </div>
                <div class="form-group mt-2">
                    <label>Description</label>
                    <textarea class="form-control" asp-for="Description">enter Description</textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="row mt-2">
                    <div class="col">
                        <label for="basic-url" class="form-label">Temps Preparation</label>
                        <div class="input-group mb-3">
                            <input type="number" class="form-control" asp-for="TempsPreparation" />
                            <span class="input-group-text">Min</span>
                        </div>
                        <span asp-validation-for="TempsPreparation" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label class="form-label">Temps Cuisson</label>
                        <div class="input-group mb-3">
                            <input type="number" class="form-control" asp-for="TempsCuisson" />
                            <span class="input-group-text">Min</span>
                        </div>
                        <span asp-validation-for="TempsCuisson" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-group">
                    <label>Image</label>
                    <input type="file" class="form-control" asp-for="ImageFile" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
                <!--user id-->
                <input type="hidden" asp-for="UserId" value="@user.Id" />
                <div class="form-group mt-4">
                    <button type="submit" class="btn btn-primary">modifier Reccete</button>
                    <a class="btn btn-success" asp-controller="Ingredient" asp-action="Index" asp-route-recetteId="@Model?.Id">Suivant</a>
        
                </div>
            </form>
            <div>
                <p class="text-center">Step 1 of 3</p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 33.33%" aria-valuenow="1" aria-valuemin="0" aria-valuemax="3"></div>
                </div>
            </div>
        </div>
    </div>
</div>
